<div class="{{classPrefix}}">
  <ul class="{{classPrefix}}-ctn" data-role="items">
    {{#if items}}
      {{#each items}}
        <li data-role="item" class="{{../classPrefix}}-item" data-value="{{matchKey}}">
          <a href="http://www.baidu.com" target="_blank">{{{highlightItem ../classPrefix matchKey}}}</a>
        </li>
      {{/each}}
    {{else}}
        <li class="{{../classPrefix}}-item">无匹配的产品和服务</li>
    {{/if}}
  </ul>
  <p><a href="" target="_blank">“信用卡”相关的帮助</a></p>
</div>
